.header-first{
	float:left;width	: 50%;
	text-align		: center;
	background-color	: #00e7ff;
}
.header-second{
	display			:none;
}

#html{
	padding:8px
}

.event-form{
 	 width:fit-content;
	 background: #00b309;
	 padding:0 1%;
	 top: 3%;
	 left: 85%;
	 float:right;
	 position: fixed;
	 z-index: 1000000;
	 padding:1%;

}

.event-element{
	width:fit-content;
}

.add-event{
	width:47px;
	background-color:#fecb06;
	margin-left:10%
}

.close-event{
	width:58px;
	background-color:#fecb06;
	margin-left:15%;
}

.event-button{
	margin-top:5%;
}