<!--http://localhost/enhance/gantt/samples/06_skins/09_material.html-->
<!DOCTYPE html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>favorite</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
        <style>
		html, body {
			height: 100%;
			padding: 0px;
			margin: 0px;
			overflow: hidden;
		}
		td.red{
		background:red;
		}
		td.blue{
		background:blue;
		}
		tr:hover{
		background:green;
		}
	</style>
</head>
<script>
$(document).ready(function() {
	$('.table-dark tr ').dblclick(function () {
		  $(this).hide("slow");
		});
	//removefavorite
	$('.removefavorite').on('click',function(){
	var message ='本当に'+$(this).attr('code')+'('+$(this).attr('companyname')+")をFavoriteListから外すか？";
	if(window.confirm(message)){
		//information
		//ajax
		$.ajax({
		   type: "GET",
		   url: "/front/removefavorite/"+$(this).attr('code'),
		   success: function(msg){
		     console.log(msg);
		     $('.information').text(msg)
		     $('.information').fadeIn();
		     $('.information').fadeOut(30);
		   }
		 });

	}else{

	}
});

//
});

</script>
<body>
{% include  'part/header.html' %}
<div>
    <div>
    <h4>期間: {{ day }}</h4>
    <h4>業界: {% for class in class_name %}{{ class }},{% endfor %}</h4>
    <h4>基準会社:{{ basic_company.company_name }}</h4>
    </div>
    <div style="display: block;overflow: scroll;height: 700px;">
   <table class="table-dark table-condensed" style="width: 100%;">
    <thead>
         <tr>
            <th>会社コード</th>
            <th>会社名</th>
            <th>特色</th>
            <th>5日Rank</th>
            <th>区分</th>
            <th>アドレス</th>
            <th>最終price</th>
            <th>基準会社の倍数</th>
            <th>PER</th>
            <th>Chart1</th>
            <th>Chart2</th>
            <th>Chart3</th>
			<th>inner news</th>
            <th>外部参考</th>
             </tr>
    </thead>
    <tbody>
        {% for company in companylist %}
          <tr>
              <td><a href="https://minkabu.jp/stock/{{ company.company_code}}/chart">{{ company.company_code}}</a></td>
              <td>{{ company.company_name}}</td>
              <td>{{ company.feature}}</td>
              <td>{{ company.fiveday_weight}}</td>
              <td {% if company.class_name == "情報・通信"  %}class="red"{% elif company.class_name == "医薬品" %}class="blue"{% else %}{% endif %}>{{ company.class_name}}</td>
              <td><a href="https://www.google.com/maps/search/?api=1&query={{ company.address}}&zoom=21" target=”_blank”>{{ company.address}}</a></td>
              <td>{{ company.price}}</td>
              <td>{{ company.baisu|floatformat:2}}</td>
              <td{% if company.daily_per < 15 %} class="red"{% endif %}>{{ company.daily_per}}</td>
               <td><a href="https://www.nikkei.com/smartchart/?code={{ company.company_code}}"  target=”_blank”>chart1</a></td>
              <td><a href="/front/companyinfo/{{ company.company_code}}"  target=”_blank”>chart2</a></td>
             <td><a href="https://jp.tradingview.com/chart?symbol=TSE%3A{{ company.company_code }}"  target=”_blank”>chart3</a></td>
			<td><a href="http://kabu.com:9090/backend/showcompanynewsViacompanycode/{{ company.company_code }}" target=”_blank”>inner news</a></td>
             <td><a href="https://kabuyoho.ifis.co.jp/index.php?action=tp1&sa=report_ts&bcode={{ company.company_code }}"  target=”_blank”>外部参考</a></td>

             <td><a href="javascript:void(0);" class="removefavorite" code="{{ company.company_code }}" companyname="{{ company.company_name }}" >remove</a></td>
          </tr>
        {% endfor %}
	  </tbody>
	</table>
     </div>
</div>
</body>